body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	word-spacing: 0.12rem;
	background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="4"><circle fill="%2364748b" cx="2" cy="2" r=".5"/></svg>');
	background-repeat: repeat;
}
#app {
	margin: 0 auto;
	padding: 2rem;
	max-width: 960px;
}
a {
	text-decoration: none;
	color: #409eff;
	cursor: pointer;
}
